<app-header></app-header>
<div class="container">
  <h2>Balance Financiero: {{ balanceData.anio }}</h2>

  <div class="row">
    <div class="col-md-6">
      <h3>Resumen</h3>
      <p><strong>Ingresos Totales:</strong> {{ balanceData.ingresos_totales | currency }}</p>
      <p><strong>Egresos Totales:</strong> {{ balanceData.egresos_totales | currency }}</p>
      <p><strong>Balance Total:</strong> {{ balanceData.balance_total | currency }}</p>
    </div>
  </div>

  <div *ngIf="!loading">
    <div id="chart-ingresos-egresos">
      <apx-chart
        [series]="ingresosEgresosChartOptions.series!"
        [chart]="ingresosEgresosChartOptions.chart!"
        [xaxis]="ingresosEgresosChartOptions.xaxis!"
        [title]="ingresosEgresosChartOptions.title!"
        [dataLabels]="ingresosEgresosChartOptions.dataLabels!"
        [tooltip]="ingresosEgresosChartOptions.tooltip!">
      </apx-chart>
    </div>

    <div id="chart-balance-mensual">
      <apx-chart
        [series]="balanceMensualChartOptions.series!"
        [chart]="balanceMensualChartOptions.chart!"
        [xaxis]="balanceMensualChartOptions.xaxis!"
        [title]="balanceMensualChartOptions.title!"
        [dataLabels]="balanceMensualChartOptions.dataLabels!"
        [tooltip]="balanceMensualChartOptions.tooltip!">
      </apx-chart>
    </div>
  </div>
</div>

<div class="detalle-financiero">
  <h3>Detalle Financiero Mensual</h3>
  <table class="table">
    <thead>
      <tr>
        <th>Mes</th>
        <th>Ingresos</th>
        <th>Egresos</th>
        <th>Balance</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let mes of meses; let i = index">
        <td>{{ mes }}</td>
        <td>{{ balanceData.ingresos_mensuales[i + 1] | currency }}</td>
        <td>{{ balanceData.egresos_mensuales[i + 1] | currency }}</td>
        <td [ngClass]="{'positivo': balanceData.balance_mensual[i + 1] >= 0, 'negativo': balanceData.balance_mensual[i + 1] < 0}">
          {{ balanceData.balance_mensual[i + 1] | currency }}
        </td>
      </tr>
    </tbody>
  </table>
</div>


