@import '../../../styles';

.solicitudes-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 50px;
  background-color: $section-bg-color;
  border: 1px solid $border-color;
  border-radius: $button-radius;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  .filtros {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;

    .busqueda {
      flex: 1;
      padding: 10px;
      border: 1px solid $border-color;
      border-radius: $button-radius;
    }

    .estado-filtro {
      padding: 10px;
      border: 1px solid $border-color;
      border-radius: $button-radius;
      background-color: $white-color;
    }
  }

  .estado-section {
    margin-bottom: 30px;
  }

  .titulo {
    text-align: center;
    font-size: 1.8rem;
    color: $primary-color;
    margin-bottom: 20px;

    &::after {
      content: '';
      display: block;
      width: 60px;
      height: 4px;
      background-color: $secondary-color;
      margin: 10px auto 0;
      border-radius: $button-radius;
    }
  }

  .lista-solicitudes {
    list-style: none;
    padding: 0;

    .solicitud-item {
      padding: 15px;
      margin-bottom: 15px;
      background-color: lighten($section-bg-color, 5%);
      border: 1px solid $table-border-color;
      border-radius: $button-radius;
      transition: box-shadow 0.3s, background-color 0.3s;

      &:hover {
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
        background-color: lighten($secondary-color, 40%);
      }

      .detalle {
        p {
          margin: 0 0 5px;
          color: $text-color;

          strong {
            color: $primary-color;
          }
        }
      }

      a.solicitud-link {
        text-decoration: none;
        color: inherit; // Heredar el color estándar del texto.
        display: block; // Permitir que toda la tarjeta sea clicable.

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .no-solicitudes {
    text-align: center;
    color: $text-color;
    font-size: 1rem;
    padding: 20px;

    p {
      background-color: lighten($error-color, 40%);
      color: darken($text-color, 20%);
      padding: 10px 20px;
      border-radius: $button-radius;
      display: inline-block;
    }
  }
}

