<app-header></app-header>
<form [formGroup]="compraForm" (ngSubmit)="onSubmit()">
  <h3>Materiales</h3>
  <p *ngIf="idPresupuesto">Cargando materiales del presupuesto...</p>

  <!-- Asegúrate de que el formArrayName esté dentro del formGroup -->
  <div formArrayName="lineasCompra">
    <div *ngFor="let linea of lineasCompra.controls; let i = index" [formGroupName]="i" class="linea-compra">
      <label>Cantidad:</label>
      <input formControlName="cantidad" type="number" />

      <label>Precio Total:</label>
      <input formControlName="precio_total" type="number" />

      <label>Unidad de Medida:</label>
      <input formControlName="unidad_medida" type="text" />

      <label>Material:</label>
      <select formControlName="id_material">
        <option *ngFor="let material of materiales_data" [value]="material.id">{{ material.descripcion }}</option>
      </select>

      <label>ID Presupuesto Material:</label>
      <input formControlName="id_presupuesto_material" type="number" />

      <!-- Campos opcionales -->
      <label>Lote (opcional):</label>
      <input formControlName="lote" type="text" />

      <label>Número de Serie (opcional):</label>
      <input formControlName="nro_serie" type="text" />

      <!-- Botón para eliminar línea de compra -->
      <button type="button" (click)="eliminarLineaCompra(i)">Eliminar</button>
    </div>
  </div>

  <!-- Botón para agregar y confirmar -->
  <button type="button" (click)="agregarLineaCompra()">Agregar Material</button>
  <button type="submit" [disabled]="compraForm.invalid">Confirmar Solicitud</button>
</form>

