<app-header></app-header>

<div class="entidades-container">
    <!-- Botones para crear -->
  <div class="acciones">
    <button *ngIf="dataShare.permiso16" class="btn btn-primary" [routerLink]="['/crear-colaborador']">
      Crear Colaborador
    </button>
    <button *ngIf="dataShare.permiso7" class="btn btn-primary" [routerLink]="['/crear-proveedor']">
      Crear Proveedor
    </button>
  </div>
  <h1>Buscar por nombre</h1>
  <div class="search-actions">
    <input
      type="text"
      class="search-bar"
      placeholder="Buscar..."
      [(ngModel)]="searchTerm"
      (input)="filtrarEntidades()"
    />
  </div>

  <div *ngIf="mostrarEntidades">
    <!-- Clientes -->
    <section class="entidad">
      <h2>Clientes</h2>
      <ul class="entidad-lista">
        <li *ngFor="let cliente of clientesFiltrados" class="entidad-item" [routerLink]="['/perfil', cliente.id_usuario]">
          <div class="entidad-link">
            {{ cliente.nombre }} {{ cliente.apellido }}
          </div>
          <button
            *ngIf="cliente.fecha_baja === null && this.tipo==='CO'"
            class="btn btn-danger btn-small"
            (click)="darDeBajaCliente(cliente.id, cliente.nombre, cliente.apellido); $event.stopPropagation()"
          >
            Dar de baja
          </button>
        </li>
      </ul>
    </section>

    <!-- Colaboradores -->
    <section class="entidad">
      <h2>Colaboradores</h2>
      <ul class="entidad-lista">
        <li *ngFor="let colaborador of colaboradoresFiltrados" class="entidad-item" [routerLink]="['/perfil', colaborador.id_usuario]">
          <div class="entidad-link">
            {{ colaborador.nombre }} {{ colaborador.apellido }}
          </div>
          <button
            *ngIf="colaborador.fecha_baja === null"
            class="btn btn-danger btn-small"
            (click)="darDeBajaColaborador(colaborador.id, colaborador.nombre, colaborador.apellido); $event.stopPropagation()"
          >
            Dar de baja
          </button>
        </li>
      </ul>
    </section>

    <!-- Proveedores -->
    <section *ngIf="tipo==='CO'" class="entidad">
      <h2>Proveedores</h2>
      <ul class="entidad-lista">
        <li *ngFor="let proveedor of proveedoresFiltrados" class="entidad-item" [routerLink]="['/proveedor', proveedor.id]">
          <div class="entidad-link">
            {{ proveedor.denominacion }}
          </div>
        </li>
      </ul>
    </section>
  </div>
</div>



