@import '../../components/home/home.component';

.entidades-container {
  padding: 50px;
  background-color: $section-bg-color;
  border: 1px solid $border-color;
  border-radius: $button-radius;

  .acciones {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;

    .btn {
      margin-left: 10px;
      background-color: $secondary-color;
      color: $white-color;
      padding: 10px 20px;
      border: none;
      border-radius: $button-radius;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: $hover-color;
      }
    }
  }

  .entidad {
    margin-bottom: 20px;

    h2 {
      color: $primary-color;
      margin-bottom: 15px;
    }

    .entidad-lista {
      list-style: none;
      padding: 0;
      margin: 0;

      .entidad-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background-color: $table-header-bg-color;
        border: 1px solid $table-border-color;
        border-radius: $button-radius;
        margin-bottom: 10px;

        .entidad-link {
          text-decoration: none;
          color: $secondary-color;

          &:hover {
            color: $hover-color;
          }
        }

        .btn {
          margin-left: 10px;

          &.btn-small {
            padding: 5px 10px;
          }

          &.btn-danger {
            background-color: $danger-color;
            color: $white-color;

            &:hover {
              background-color: darken($danger-color, 10%);
            }
          }
        }
      }
    }
  }
  h1 {
    font-size: 2rem;
    font-weight: bold;
    color: $primary-color; // Usamos el color primario del proyecto
    text-align: center;
    margin-bottom: 20px;
  }

  .search-actions {
    display: flex;
    justify-content: center; // Centra horizontalmente
    align-items: center; // Centra verticalmente
    margin-bottom: 20px;
    padding: 0 20px; // Opcional: margen interno para evitar que quede pegado a los bordes en pantallas pequeñas

    .search-bar {
      width: 100%;
      max-width: 500px; // Limita el tamaño máximo
      padding: 10px 15px;
      border: 1px solid $border-color;
      border-radius: $button-radius;
      font-size: 1rem;
      color: $text-color;
      background-color: $background-color;

      &:focus {
        border-color: $primary-color;
        outline: none;
        box-shadow: 0 0 5px lighten($primary-color, 40%);
      }

      &::placeholder {
        color: lighten($text-color, 20%);
      }
    }
  }


  .entidad-item {
    cursor: pointer;

    &:hover {
      background-color: lighten($table-header-bg-color, 10%);
    }
  }
}
