<app-header></app-header>
<div class="crear-obra-container">
  <h1>Crear Obra</h1>
  <form [formGroup]="obraForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="direccion">Dirección: <span class="required-asterisk">*</span></label>
      <input id="direccion" formControlName="direccion" type="text" required />
    </div>

    <div class="form-group">
      <label for="id_cliente">Cliente: <span class="required-asterisk">*</span></label>
      <select id="id_cliente" formControlName="id_cliente" required>
        <option *ngFor="let cliente of clientes" [value]="cliente.id">
          {{ cliente.nombre }} {{ cliente.apellido }}
        </option>
      </select>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="telefono_contacto">Teléfono de Contacto: <span class="required-asterisk">*</span></label>
        <input id="telefono_contacto" formControlName="telefono_contacto" type="text" required />
      </div>

      <div class="form-group">
        <label for="fecha_inicio_est">Fecha de Inicio Estimada:</label>
        <input id="fecha_inicio_est" formControlName="fecha_inicio_est" type="date" />
      </div>

      <div class="form-group">
        <label for="fecha_fin_est">Fecha de Fin Estimada:</label>
        <input id="fecha_fin_est" formControlName="fecha_fin_est" type="date" />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="monto_total_est">Monto Total Estimado:</label>
        <input
          id="monto_total_est"
          formControlName="monto_total_est"
          type="number"
          step="0.01"
        />
      </div>

      <div class="form-group">
        <label for="moneda">Moneda:</label>
        <input id="moneda" formControlName="moneda" type="text"/>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="pisos">Pisos: <span class="required-asterisk">*</span></label>
        <input id="pisos" formControlName="pisos" type="number" required/>
      </div>
      <div class="form-group">
        <label for="dimensiones">Dimensiones:</label>
        <input id="dimensiones" formControlName="dimensiones" type="text" />
      </div>
    </div>

    <div class="form-group">
      <label for="tipo_obra">Tipo de obra:</label>
      <input id="tipo_obra" formControlName="tipo_obra" type="text" />
    </div>


    <button class="submit-btn" type="submit" [disabled]="obraForm.invalid">Crear Obra</button>
  </form>

  <div *ngIf="mensajeExito" class="success-message">{{ mensajeExito }}</div>
  <div *ngIf="mensajeError" class="error-message">{{ mensajeError }}</div>

</div>
