@import '../home/home.component';

.crear-obra-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 50px;
  background-color: $white-color;
  border: 1px solid $background-color;
  border-radius: 8px;

  h1 {
    text-align: center;
    color: $primary-color;
    margin-bottom: 20px;
  }

  .success-message {
    text-align: center;
    color: $success-color;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid lighten($success-color, 20%);
    border-radius: $button-radius;
    background-color: lighten($success-color, 50%);
  }

  .error-message {
    text-align: center;
    color: $error-color;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid lighten($error-color, 20%);
    border-radius: $button-radius;
    background-color: lighten($error-color, 50%);
  }

  .error {
    color: $error-color;
    font-size: 0.9rem;
    margin-top: 5px;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

    label {
      font-weight: bold;
      margin-bottom: 5px;
      color: $text-color;
    }

    input,
    select {
      padding: 10px;
      font-size: 1rem;
      border: 1px solid $background-color;
      border-radius: 4px;
      transition: border-color 0.3s;

      &:focus {
        border-color: $primary-color;
        outline: none;
      }
    }
  }

  .form-row {
    display: flex;
    gap: 15px;

    .form-group {
      flex: 1;
    }
  }

  .submit-btn {
    width: 100%;
    background-color: $secondary-color;
    color: $white-color;
    font-size: 1.1rem;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover:not(:disabled) {
      background-color: $hover-color;
    }

    &:disabled {
      background-color: lighten($secondary-color, 20%);
      cursor: not-allowed;
    }
  }
}

