@import '../home/home.component';

.loading {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .spinner {
    width: 20px;
    height: 20px;
    border: 3px solid transparent;
    border-top-color: $loading-color;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
}

.filtros-container {
  max-width: 900px; // Limita el ancho total
  margin: 0 auto 20px; // Centra el contenedor y agrega margen inferior
  padding: 0 15px; // Añade un pequeño margen interno en los lados
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  .search-bar {
    flex: 2; // Ocupa más espacio que el select
    padding: 10px;
    font-size: 1rem;
    border: 1px solid $border-color;
    border-radius: $button-radius;
  }

  .filter-select {
    flex: 1;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid $border-color;
    border-radius: $button-radius;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.error-message {
  color: $error-color;
  font-weight: bold;
  text-align: center;
  margin: $section-padding 0;
  padding: 10px;
  border: 1px solid lighten($error-color, 20%);
  border-radius: $button-radius;
  background-color: lighten($error-color, 50%);
}

.header-container {
  max-width: 900px;
  margin: 20px auto; // Centra el encabezado
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-size: 2rem;
    font-weight: bold;
    color: $primary-color;
  }
}

.tareas-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: $section-padding;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    gap: 15px;
  }
}

.tarea-card {
  background: $section-bg-color;
  border: 1px solid $table-border-color;
  padding: $section-padding;
  border-radius: $button-radius;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.3s ease;
  margin: 0 auto; // Centra las cards
  max-width: 350px; // Limita el ancho máximo de cada card

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  }

  .tarea-header {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: $primary-color;
    border-bottom: 2px solid lighten($primary-color, 30%);
    padding-bottom: 5px;
  }

  .tarea-avance {
    font-weight: bold;
    color: $success-color;
  }
}
