<div *ngIf="proveedor; else noProveedor">
  <h1>Perfil del Proveedor</h1>
  <p><strong>Denominación:</strong> {{ proveedor.denominacion }}</p>
  <p><strong>Teléfono:</strong> {{ proveedor.telefono }}</p>
  <p><strong>Dirección:</strong> {{ proveedor.direccion }}</p>
  <p><strong>Email:</strong> {{ proveedor.email }}</p>
  <p><strong>CUIL:</strong> {{ proveedor.cuil }}</p>
  <p><strong>Ciudad:</strong> {{ proveedor.ciudad }}</p>
  <p><strong>Provincia:</strong> {{ proveedor.provincia }}</p>

  <h2>Materiales</h2>
  <button (click)="navigateToCreateMaterial()">Agregar Material</button>
  <ul>
    <li *ngFor="let material of materiales">
      {{ material.descripcion }} - {{ material.marca }} ({{ material.precio }} {{ material.moneda }})
    </li>
  </ul>

  <h2>Servicios</h2>
  <button (click)="navigateToCreateServicio()">Agregar Servicio</button>
  <ul>
    <li *ngFor="let servicio of servicios">
      {{ servicio.descripcion }} - {{ servicio.precio_x_unidad }} {{ servicio.moneda }} por {{ servicio.unidad_medida }}
    </li>
  </ul>

  <h2>Ofertas</h2>
  <button (click)="navigateToCreateOferta()">Agregar Oferta</button>
  <ul>
    <li *ngFor="let oferta of ofertas">
      {{ oferta.descripcion }} - {{ oferta.monto_total }} {{ oferta.moneda }} (Desde: {{ oferta.fecha_desde }} Hasta: {{ oferta.fecha_hasta }})
    </li>
  </ul>
</div>

<ng-template #noProveedor>
  <p>Cargando Proveedor...</p>
</ng-template>


