@import '../../../styles';


.presupuesto-container {
  padding: 50px;
  background-color: $section-bg-color;
  border-radius: $button-radius;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 0 auto;

  h2, h3 {
    font-size: 1.5rem;
    color: $primary-color;
    margin-bottom: 15px;

    &::after {
      content: '';
      display: block;
      width: 50px;
      height: 3px;
      background-color: $secondary-color;
      margin-top: 5px;
      border-radius: $button-radius;
    }
  }

  .presupuesto-info{
    .actions-right {
      display: flex;
      justify-content: center; /* Alinea los elementos al centro*/
      gap: 10px; /* Espaciado entre los botones */
      margin-top: 15px;

      button {
        padding: 8px 15px;
        background-color: $secondary-color;
        color: $white-color;
        border: none;
        border-radius: $button-radius;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: $hover-color;
        }

        &.btn-aprobar {
          background-color: $success-color;

          &:hover {
            background-color: darken($success-color, 10%);
          }
        }

        &.btn-rechazar {
          background-color: $error-color;

          &:hover {
            background-color: darken($error-color, 10%);
          }
        }
      }
    }
  }

  .presupuesto-info p {
    font-size: 1rem;
    margin-bottom: 10px;
    color: $text-color;

  }

  .actions {
    text-align: center;
    display: flex;
    justify-content: flex-end; /* Alinea los elementos a la derecha */
    gap: 10px; /* Espaciado entre los botones */
    margin-top: 15px;

    button {
      margin-right: 10px;
      padding: 8px 15px;
      background-color: $secondary-color;
      color: $white-color;
      border: none;
      border-radius: $button-radius;
      cursor: pointer;


      &.btn-editar {
        background-color: $secondary-color;

        &:hover {
          background-color: $hover-color;
        }
      }

      &.btn-cancelar {
        background-color: $error-color;

        &:hover {
          background-color: darken($error-color, 10%);
        }
      }

      &.btn-solicitar, &.btn-crear {
        background-color: $success-color;

        &:hover {
          background-color: darken($success-color, 10%);
        }
      }
    }
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      padding: 15px;
      margin-bottom: 10px;
      border: 1px solid $border-color;
      border-radius: $button-radius;
      background-color: $table-header-bg-color;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

      &:nth-child(odd) {
        background-color: lighten($section-bg-color, 5%);
      }

      p {
        margin: 5px 0;
        font-size: 0.9rem;
        color: $text-color;
      }
    }
  }


  .mensaje-vacio, .mensaje-carga {
    text-align: center;
    color: $loading-color;
    font-size: 1.1rem;
    margin-top: $section-padding;
  }

  .edit-form {
    margin-top: $section-padding;

    h3 {
      font-size: 1.25rem;
      color: $primary-color;
      margin-bottom: 15px;
    }

    .btn-guardar {
        background-color: $success-color;
        padding: 10px 20px;
        border: none;
        color: $white-color;
        border-radius: $button-radius;
        cursor: pointer;
        font-weight: bold;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: darken($success-color, 10%);
        }

        &:disabled {
          background-color: lighten($success-color, 20%);
          cursor: not-allowed;
        }
    }

    .form-group {
      margin-bottom: $section-padding;

      .required-asterisk {
        color: red;
        font-weight: bold;
      }

      label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
        color: $text-color;
      }

      input, textarea {
        width: 100%;
        padding: 10px;
        margin-top: 5px;
        border: 1px solid $border-color;
        border-radius: $button-radius;

        &:focus {
          border-color: $primary-color;
          outline: none;
          box-shadow: 0 0 5px rgba($primary-color, 0.5);
        }
      }

      .btn-eliminar {
        background-color: $danger-color;
        color: $white-color;
        padding: 8px 15px;
        border-radius: $button-radius;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: darken($danger-color, 10%);
        }
      }
    }

    .form-actions {
      display: flex;
      justify-content: space-between;
      margin-top: $section-padding;
      .btn-guardar {
        background-color: $success-color;
        padding: 10px 20px;
        border: none;
        color: $white-color;
        border-radius: $button-radius;
        cursor: pointer;
        font-weight: bold;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: darken($success-color, 10%);
        }

        &:disabled {
          background-color: lighten($success-color, 20%);
          cursor: not-allowed;
        }
      }
    }
  }
}


