<div class="chat-container" [class.closed]="!isVisible">
  <button class="toggle-btn" (click)="toggleChat()">
    {{ isVisible ? 'x' : 'Abrir Chat' }}
  </button>

  <div class="chat-box" *ngIf="isVisible">
    <div class="messages">
      <div class="message" *ngFor="let message of messages" [ngClass]="{ 'user-message': message.isUser, 'bot-message': !message.isUser }">
        {{ message.text }}
      </div>
    </div>

    <form (ngSubmit)="sendMessage()" class="message-input-form">
      <input
        type="text"
        [(ngModel)]="userMessage"
        name="userMessage"
        placeholder="Escribe tu pregunta..."
        required
      />
      <button type="submit">Enviar</button>
    </form>
  </div>
</div>

