<app-header></app-header>

<div class="lista-servicios">
  <ng-container *ngIf="servicios.length > 0; else noServicios">
    <h2 class="titulo">Lista de Servicios</h2>
    <ul class="servicios">
      <li *ngFor="let servicio of servicios" class="servicio-item">
        <a [routerLink]="['/servicio', servicio.id]" class="servicio-link">
          {{ servicio.descripcion }}
        </a>
      </li>
    </ul>
  </ng-container>

  <ng-template #noServicios>
    <div class="no-servicios">
      <p>No se encontraron servicios para esta empresa.</p>
    </div>
  </ng-template>
</div>
