@import '../home/home.component';

.crear-colaborador-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: $white-color;
  border: 1px solid $background-color;
  border-radius: 8px;

  h2 {
    color: $primary-color;
    text-align: center;
    margin-bottom: 20px;
  }

  form {
    display: flex;
    flex-direction: column;

    .form-section {
      margin-bottom: 20px;
      padding: 15px;
      border: 1px solid $background-color;
      border-radius: 8px;

      legend {
        color: $secondary-color;
        font-weight: bold;
      }

      .form-group {
        margin-bottom: 15px;

        label {
          display: block;
          margin-bottom: 5px;
          font-weight: bold;
          color: $text-color;
        }

        input, select {
          width: 100%;
          padding: 8px;
          border: 1px solid $background-color;
          border-radius: 4px;
          font-size: 1rem;
        }
      }

      .form-row {
        display: flex;
        flex-wrap: wrap; // Permite que los campos se ajusten en filas flexibles
        gap: 15px; // Espaciado entre los campos

        .form-group {
          flex: 1 1 45%; // Cada grupo toma hasta el 45% del ancho en pantallas grandes
          min-width: 200px; // Ancho mínimo para mantener la legibilidad
        }
      }
    }

    .submit-btn {
      background-color: $secondary-color;
      color: $white-color;
      border: none;
      padding: 10px 20px;
      border-radius: 4px;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s;

      &:disabled {
        background-color: lighten($secondary-color, 20%);
        cursor: not-allowed;
      }

      &:hover:not(:disabled) {
        background-color: $hover-color;
      }
    }
  }

  .error {
    margin-top: 15px;
    color: red;
    font-weight: bold;
    text-align: center;
  }

  .success {
    background-color: lighten($success-color, 40%); /* Usa el color de éxito */
    color: $success-color;
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
    font-size: 1rem;
    border: 1px solid darken($success-color, 10%);
    box-shadow: 0 4px 8px rgba(0, 128, 0, 0.2); /* Agrega un ligero sombreado */

  }
}
